<!doctype html>
<html>
	<head>
		<title>Prototype</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="build/shuttle.css" />
	</head>

	<body>
		<header role="banner">
			<h1><img class="logo" src="images/shuttle_logotype.png" alt="Shuttle" /> Shuttle</h1>

			<p class="subhead">A secure, server-less file<br /> sharing app built with <a href="http://github.com/rymdjs">Rymd</a></p>
		</header>

		<div id="app">
		</div>

		<footer role="contentinfo">
			<p>
				<small>Built by Robert, Johan, Robin, Niklas and Johannes</small>
			</p>
		</footer>

		<script type="text/html" id="home-template">
			<header class="toolbar">
				<span class="current-identity"></span> · <a href="/#logout">Sign out</a> ·

				<span class="dropdown">
					<a class="dropdown-trigger btn small">Inbox <span class="bubble shared-count"></span></a>
					<div class="dropdown-content" id="my-shared-files">
						<div class="dropdown-header">
							<h3>Files shared with you</h3>
						</div>
						<ul class="file-list"></ul>
					</div>
				</span>

				<span class="dropdown">
					<span class="dropdown-trigger btn small">Public Key</span>
					<div class="dropdown-content" id="public-key">
						<div class="dropdown-header">
							<h3>Your public key</h3>
						</div>
						<pre class="public-key"></pre>
					</div>
				</span>
			</header>

			<section id="upload">
				<h2>Add file</h2>
				<p>
					<input type="file" class="file-input" />
				</p>
			</section>

			<section id="my-files">
				<h2>Your files</h2>

				<ul class="file-list"></ul>
			</section>
		</script>

		<script id="login-template" type="text/html">
			<section class="connection-view">
				<form>
					<p>
						<label for="identity">Choose a nickname</label>
						<input id="identity" class="block" type="text" value="legogris" autofocus required />
					</p>

					<input type="submit" class="connect block" value="Get started" />
				</form>
			</section>
		</script>

		<script id="key-template" type="text/html">
			<section class="connection-view">
				<form>
					<label for="key">Use existing key</label>
					<textarea id="key" rows="8" placeholder="Private key"></textarea>

					or

					<label><input type="checkbox" id="generate-key" /> Generate new key</label>

					<input type="submit" class="connect block" value="Continue" />
				</form>
			</section>
		</script>

		<script type="text/html" id="file-template">
			<span class="resource" data-guid="<%= id %>" >
				<span class="file-name"><%= name%></span>
				<% if(hasData) { %>
				<a class="file-link view-file">View</a>
				<small class="file-type"><%= type %></small>
				<% } else { %>
				<button class="btn small download">Download</button>
        <% } %>
			</span>

			<div class="sharing-panel" hidden>
				<label>Share with</label><input type="text" class="remote-identity" />
				<button class="share-file small">Share</button>

				<button class="btn-negative small destroy">Delete</button>
			</div>
		</script>

		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="vendors/peer.js"></script>
		<script src="vendors/jquery.noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
		<script src="node_modules/underscore/underscore.js"></script>
		<script src="node_modules/backbone/backbone.js"></script>
		<script src="build/bundle.js"></script>

		<script>
			$(function() {
				$.noty.defaults = $.extend({}, $.noty.defaults, {
					layout: 'topRight',
					type: 'information'
				});

				$.noty.defaults.animation.speed = 300;

				App.start();
			})
		</script>
	</body>
</html>
