* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: sans-serif;
}

.col {
	width: 50%;
	float: left;
}

.content {
	padding: .5em;
	margin: .5em;
}

.dropzone {
	border: 2px solid transparent;
	transition: background-color .1s;
}

.dropzone.drag-hover {
	position: relative;
	border: 2px dashed;
	background-color: rgba(0, 129, 214, .4);
}

.dropzone.drag-hover::after {
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	content: "Release to add file";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	color: #EBF7FF;

}

label[for] {
	font-weight: bold;
	display: block;
	cursor: pointer;
}

